.footer {
  padding: rem(50) 0;
  background: $whiteColor;
  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(765) {
      flex-direction: column;
    }
  }

  &__content {
  }

  &__row {
  }

  &__collumn {
    h2, p, a {font-family: 'Anglecia Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    }
    p {
      font-family: 'Geometria';
    }
    h2 {
      margin-bottom: 10px;
      border: none;
    }
    @media(max-width:765px){
        margin-bottom: 30px;
    }
  }

  &__logo {
    img {
      max-width: 130px;
    }
  }
}
.collumn {
  display: flex;
  flex-direction: column;

  &__logo {
    @media(max-width:765px){
        order: 1;
    }
  }

  &__priv {
    text-align: center;
    letter-spacing: 0.02em;
    p {
      opacity: 0.6;
    }
    @media(max-width:765px){
      order: 3;
    }
  }

  &__contacts {
    min-width: 145px;
    text-align: right;
    a {
      display: block;
    }
    @media(max-width:765px){
        text-align: center;
        order: 2;
    }
  }
}
.logo {
}
.number {
  position: relative;
  margin-bottom: 10px;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 15px;
    background:url(../../images/number-img.svg) no-repeat;
    width: 14px;
    height: 14px;
    opacity: 0.6;
    margin-right: 8px;
    @media(max-width:765px){
      left: 0px;
    }
  }
}
.mail {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 2.5px;
    left: 0;
    background:url(../../images/mail-img.svg) no-repeat;
    width: 15px;
    height: 10px;
    opacity: 0.3;
    margin-right: 8px;
    @media(max-width:765px){
      left: -10px;
    }
  }
}
