// =====================================================================================================================
.header {
  position: relative;
  width: 100%;
  // height: 1040px;
  max-height: 1040px;

		&__row {
      width: 100%;
      
      text-align: center;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
		}
    &__top {
      position: relative;
      max-width: rem(857);
      width: 100%;
      margin: prc(84,1200) auto 58px auto;
      @media(max-width:1200px){
        max-width: rem(776);
      }
      @media(max-width:380px){
        margin: prc(84,1200) auto 32px auto; 
      }
    }
		&__logo, .logo {
      img {
        max-width: 258px;
        width: 100%;
        @media(max-width:1200px){
            max-width: 198px;
        }
        @media(max-width:480px){
          max-width: 158px;
        }
        @media(max-width:320px){
            max-width: 128px;
        }
      }
		}

		&__text.content {
      font-family: 'Anglecia Pro Display';
      font-weight: 400;
      font-size: rem(38);
      line-height: rem(52);
      letter-spacing: 0.06em;
      text-transform: uppercase;

      max-width: rem(874);
      padding: rem(23) rem(42) rem(17);
      margin: 0 auto;

      background-color: $whiteColor;
      box-shadow: 6px 6px 4px rgba(113, 113, 113, 0.2);

      @media(max-width:1200px){
        font-size: rem(34);
      }
      @media(max-width:526px){
        font-size: rem(30);
        line-height: rem(40);
      }
      @media(max-width:480px){
        font-size: rem(20);
        line-height: rem(26);
        padding: rem(19) rem(21);
      }
      &::after{
        right: 10px;
        bottom: 10px;
      }
      &::before{
        display: none;
      }
    }

  // .header__container
  &__container {
    display: flex;
    align-items: center;
  }
}

.lang {
  position: absolute;
  display: block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  width: 50px;
  top: 52%;
  right: 0;

  
  &__btn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 95px;
    cursor: pointer;
    p {
      margin-right: 10px;
      font-size: rem(16);
      line-height: rem(20);
    }
    &:hover {
      p {
        font-weight: 700;
      }
    }
  }
  img {
    border-radius: 50%;
    border: 2px solid $redColor;
    width: 24px;
    height: 24px;
  }
  
  @media(max-width:550px){
    position: relative;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: rem(43);
    flex-direction: row;

    &__btn.turk {
      flex-direction: row-reverse;
      justify-content: left;
      p {
        margin: 0px 0px 0px 10px;
      }
    }
}

}


.fon-header {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: -394px;
  max-height: 1040px;

  background: linear-gradient(180deg, #FFFFFF 38.52%, rgba(255, 255, 255, 0) 100%);

  @media(max-width:1200px){
    margin-top: -350px;  
  }
  @media(max-width: 550px){
    margin-top: -300px;
  }
  &__row {
    display: flex;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #FFFFFF 38.52%, rgba(255, 255, 255, 0) 100%);
      width: 100%;
      height: 55%;
    }
  }

  &__collumn {
    flex: 0 1 25%;
    position: relative;
    height: 100%;

    img {
      width: 100%;
      max-height: 1040px;
    }
    @media(max-width:765px){
      &.pc {
        display: none;
      } 
      & {
        flex: 0 1 50%;
      }
    }
  }
  
}












// =====================================================================================================================

// Burger
/*
.icon-menu {
  display: none;
  @include media(767) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/